<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Home page')}"></head>

<body class="bg-body-tertiary">
<nav th:replace="~{fragments :: nav}"></nav>
<div class="px-4 py-5 mt-5 text-center bg-white shadow-sm">
    <h1 class="display-5 fw-bold text-body-emphasis">Sprawdź <span class="text-primary">interefujące Cię informacje</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Sprawdź informacje o firmach i pracownikach.</p>
    </div>
</div>

</body>
</html>
